body {
  text-align: center;
  background-color: #7d8e95;
}

h1 {
  font-size: 900;
  font-weight: 900;
  margin-top: 20%;
}

h3 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
}

p {
  margin: 7% 20%;
}

a{
  color: red;
}
.title-img {
  margin-top: 5%;
  border-radius: 25px;
}

.colomn-one {
  margin: 5% 10%;
}

.colomn-one p{
  text-align: left;
}
