@import "abstracts/variables";
@import "abstracts/mixins";

@import "layout/grid";

@import "base/typography";


*{
  margin: 0;
  padding: 0;
}

body{
  padding: 30px;
}

.title{
  height: 85vh;
  background-image: url(../images/title-img.jpg);
  background-size: cover;
  position: relative;



  &__paragraph{
    padding-left: 12%;
  }


  &__img{
    border-radius: 48px;
    width: 35%;
    position: absolute;
    object-fit: scale-down;
    right: 0;
    top: 13%;
    height: 60vh;
  }
}


.first-section{
  background-image: linear-gradient(to right, #E55D87, #5FC3E4);
  margin-top: 10%;
  padding: 10% 0;
}






