*{
  margin: 0;
  padding: 0;
}

body{
  padding: 30px;
}

h1 {
  text-transform: uppercase;
  font-size: 900;
  padding-top: 15%;
  font-weight: 900;
  letter-spacing: 15px;
  line-height: 2;
  padding-left: 6%;
}

.title{
  height: 85vh;
  background-image: url(../images/title-img.jpg);
  background-size: cover;
  position: relative;



  &__paragraph{
    // color: white;
    padding-left: 12%;
  }


  &__img{
    border-radius: 48px;
    width: 35%;
    position: absolute;
    object-fit: scale-down;
    right: 0;
    top: 13%;
    height: 60vh;
  }
}





